In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Connect to SQL

In [2]:
import pyodbc
import warnings
warnings.filterwarnings("ignore")

In [4]:
server = "SP_PC\SQLEXPRESS"
database = "Test"
driver = "ODBC Driver 17 for SQL Server" #Ensure you have correct driver, if not then install

#SQL Server authentication
#"Driver={SQL Server};Server=myServerName;Database=myDatabaseName;UID=myUsername;PWD=myPassword;"

#Windows authentication
conn_string = f"Driver={driver};Server={server};Database={database};Trusted_Connection=yes"

try:
    conn = pyodbc.connect(conn_string)
    cur = conn.cursor()
    print("Connected to SQL Server successfully!")
except exception as e:
    print("Error:",e)

#conn.close()
#cur.close()

Connected to SQL Server successfully!

Know your Table and Columns

In [5]:
#Table Name
cur.execute("""
    SELECT TABLE_NAME
    FROM INFORMATION_SCHEMA.TABLES
    WHERE TABLE_TYPE = 'BASE TABLE';
""")

# Fetch all the results
table = cur.fetchall()
print(table)

[('Customers',), ('Emp_joins',)]

In [6]:
# Columns names
cur.execute("""
    SELECT COLUMN_NAME
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'Customers'
    ORDER BY ORDINAL_POSITION;
""")

# Fetch all the results
columns = cur.fetchall()

# Print the column names
for column in columns:
    print(f"Column: {column[0]}")

Column: saleid
Column: customerid
Column: productcategory
Column: saledate
Column: quantity
Column: unitprice
Column: paymenttype
Column: employeeid

Pull Data from Table

In [7]:
query = "Select top 10* from Customers;"
df = pd.read_sql(query, conn)
df.head(10)

,saleid,customerid,productcategory,saledate,quantity,unitprice,paymenttype,employeeid
0,1.0,126.0,Books,2022-02-06,5.0,94.32,Online,74.0
1,2.0,132.0,Furniture,2022-04-07,2.0,59.95,Credit Card,42.0
2,3.0,99.0,Furniture,2022-01-09,1.0,343.07,Debit Card,27.0
3,4.0,456.0,Toys,2022-08-23,3.0,416.92,Online,81.0
4,5.0,443.0,Electronics,2022-04-20,2.0,485.40,Debit Card,31.0
5,6.0,360.0,Books,2024-11-18,5.0,276.47,Cash,82.0
6,7.0,367.0,Electronics,2023-01-18,2.0,437.72,Debit Card,79.0
7,8.0,242.0,Clothing,2022-08-14,3.0,433.42,Online,94.0
8,9.0,361.0,Toys,2022-04-25,3.0,179.76,Online,30.0
9,10.0,418.0,Furniture,2024-08-27,4.0,265.43,Debit Card,4.0

In [8]:
cur.close()
conn.close()